# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.swp
xihe-server
message-server/message-server
internal-server/internal-server
test

# Test binary, built with `go test -c`
*.test
*.log
# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*.b*

# Dependency directories (remove the comment below to include it)
# vendor/
.idea